@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

:root {
    --mainColor: rgb(255, 113, 1);
    --extraColor: rgb(0, 142, 254);
    --titleSize: 36px;
    --desktopWidth: 1200px;
    --searchBtnWidth: 45px
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: var(--mainColor);
    border-bottom: 1px dashed #fff;
    padding: 6px;
    position: relative;
}

.logo {
    width: 30%;
    margin: 15px 0;
}

.logo__img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.search {
    margin: 3px;
    height: 35px;
    border: dashed 1px #fff;
}

.search__input {
    height: 100%;
    width: calc(100% - var(--searchBtnWidth));
    border: none;
    box-sizing: border-box;
    padding: 0 10px;
}

.search__button {
    background-image: url("assets/ico_search.png");
    background-repeat: no-repeat;
    background-position: center;
    color: transparent
}

.search__button {
    width: var(--searchBtnWidth);
    height: 100%;
    float: right;
    background-color: var(--mainColor);
    border: none;
}

.navigation__button {
    font-size: 20px;
    color: #fff;
    background-color: var(--mainColor);
    padding: 5px 10px
}

.navigation {
    position: fixed;
    top:0;
    right: 0;
    z-index: 1;
}

.navigation__toggler {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
    width: var(--searchBtnWidth);
    height: 25px;
    z-index: 2;
}

.navigation__hamburger {
    position: absolute;
    top: 10px;
    right: 10px;
    width: var(--searchBtnWidth);
    height: 25px;
    z-index: 1;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation__toggler:checked ~ .navigation__hamburger .navigation__button {
    background-color: #fff;
    color: var(--mainColor);
}

.navigation__toggler:checked ~ .navigation__menu {
    visibility: visible;
}

.navigation__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    visibility: hidden;
    background-color: #fff;
}

.navigation__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.navigation__link {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--mainColor);
}

.section--lightBg {
    background-color: rgb(230, 230, 230);
}

.section:last-of-type {
    margin-top: 20px
}

.section__title {
    color: var(--extraColor);
    margin: 0;
    padding: 20px 18px;
    font-size: var(--titleSize);
}

.section__title--white {
    color: #fff;
    padding: 20px 0;
}

.section__quote {
    line-height: 23px;
}

.section__about {
    background-color: var(--extraColor);
    padding: 35px 18px;
    color: #fff;
    letter-spacing: 0.2px;
}

.section__aboutImg {
    width: 100%;
}

.section__portfolio {
    padding-bottom: 5px;
}

q::before, q::after {
    font-size: 30px;
    quotes: '"' '"';
}

.projectBox {
    margin: 0 18px 50px 18px;
    padding:  75px 20px 20px 20px;
    background-color: #fff;
    box-shadow: 0 5px 3px rgb(198,198,198);
    height: 340px;
    position: relative;
    box-sizing: border-box;
}

.projectBox__button {
    background-color: var(--extraColor);
    width: 143px;
    height: 32px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 324px;
    right: 0;
    left: 0;
}

.projectBox__link {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}

.projectBox__symbol {
    font-size: 10px;
}

.projectBox__title {
    color: var(--extraColor);
    text-transform: capitalize;
    font-size: 20px;
    text-align: center;
    margin: 12px auto;
    text-transform: uppercase;
}

.projectBox__text {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
}

.projectBox {
    background-repeat: no-repeat;
    background-position: center 20px;
}

.projectBox:first-of-type {
    background-image: url("assets/tmp-1.png");
    background-position: center 32px;
}

.projectBox:nth-of-type(2) {
    background-image: url("assets/tmp-2.png");
}

.projectBox:nth-of-type(3) {
    background-image: url("assets/tmp-3.png");
}

.projectBox:nth-of-type(4) {
    background-image: url("assets/tmp-4.png");
}

.contactBox {
    padding: 0 20px 40px 20px;
}

.contactBox__label {
    text-transform: uppercase;
    font-size: 12px;
}

.contactBox__input {
    border: 1px solid var(--mainColor);
    width: 100%;
    height: 27px;
    margin-bottom: 10px;
    margin-top: 2px;
    padding: 0 10px;
    box-sizing: border-box;
}

.contactBox__input::placeholder {
    color: #000;
}

.contactBox__formRow:last-child .contactBox__input {
    height: 212px;
    box-sizing: border-box;
    padding: 10px;
    resize: vertical
}

.contactBox__submit {
    border: none;
    background-color: var(--extraColor);
    height: 32px;
    color: #fff;
    font-size: 14px;
    width: 100%;
}

.footer {
    background-color: var(--mainColor);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.footer__text {
    color: #fff;
}

@media (min-width: 1400px) {

    .container {
        margin: 40px auto;
        width: var(--desktopWidth);
    }

    .header {
        padding: 0;
    }

    .header .container {
        position: relative;
        margin-top: 0px;
        margin-bottom: 0;
        padding-top: 40px;
    }

    .logo {
        margin-top: 0;
        margin-bottom: 0;
        height: 145px;
        width: max-content;
    }

    .logo__img {
        float: left;
    }

    .search {
        margin: 0;
        width: 205px;
        position: absolute;
        right: 0;
        top: 95px
    }

    .search__input {
        width: 160px;
    }

    .navigation {
        position: static;
        margin-top: 20px
    }

    .navigation__menu {
        visibility: visible;
        background-color: transparent;
        position: static;
        height: max-content;
    }

    .navigation__list {
        flex-direction: row;
        justify-content: flex-start;
    }

    .navigation__item {
        padding: 10px 13px 10px 13px;
        background-color: #fff;
        border-bottom: 1px #fff dashed;
        margin-right: 5px;
        border-radius: 5px 5px 0 0;
    }

    .navigation__button {
        display: none;
    }

    .section__aboutBox {
     height: 325px;
    }

    .section__about {
        padding: 50px 20px 45px 20px;
        width: 50%;
        box-sizing: border-box;
        float: left;
        height: inherit;
    }

    .section__aboutImg {
        float: left;
        width: 50%;
    }

    .float {
        float: left;
        width: 50%;
    }

    .section__title {
        margin: 0 0 25px 0;
        padding: 0;
        font-size: 28px;
    }

    .section__portfolio {
        padding-top: 25px;
        padding-bottom: 40px;
        height: 466px;
        box-sizing: border-box;
    }

    .projectBox {
        margin: 0 10px;
        float: left;
        width: 285px;
    }

    .projectBox:first-of-type {
        margin-left: 0
    }

    .projectBox:last-of-type {
        margin-right: 0;
    }

    .contactBox {
        padding: 0;
        display: flex;
    }

    .contactBox__label {
        padding: 12px 2px;
        font-size: 12px;
        width: 90px;
        align-self: center;
        text-align: right;
    }

    .contactBox__formRow {
        display: flex;
    }

    .contactBox__formRow:last-child .contactBox__input {
        margin-bottom: 0;
        height: 212px;
        box-sizing: border-box;
    }

    .contactBox__formRow:last-child .contactBox__label {
        align-self: flex-start;
    }
 
    .contactBox__input {
        width: 322px;
        margin: 6px 7px;
    } 

    .contactBox__submit {
        align-self: flex-end;
        padding-top: 5px;
        height: 19px;
        width: 50px;
        font-size: 14px;
        float: left;
    }

    .footer {
        height: 56px;
    }

}